<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prescrip.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>885166AD2E824DF0F98A609340A00CC48FD9EF1B</string>
				<key>dateExpires</key>
				<string>31/10/25</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>885166AD2E824DF0F98A609340A00CC48FD9EF1B</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>37W4GY7YBF</string>
						<key>name</key>
						<string>PRESCRIP HEALTH TECHNOLOGY LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>885166AD2E824DF0F98A609340A00CC48FD9EF1B</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>37W4GY7YBF</string>
						<key>name</key>
						<string>PRESCRIP HEALTH TECHNOLOGY LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>885166AD2E824DF0F98A609340A00CC48FD9EF1B</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>37W4GY7YBF</string>
						<key>name</key>
						<string>PRESCRIP HEALTH TECHNOLOGY LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>885166AD2E824DF0F98A609340A00CC48FD9EF1B</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalInAppMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>37W4GY7YBF</string>
						<key>name</key>
						<string>PRESCRIP HEALTH TECHNOLOGY LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>885166AD2E824DF0F98A609340A00CC48FD9EF1B</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalLiveActivities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>37W4GY7YBF</string>
						<key>name</key>
						<string>PRESCRIP HEALTH TECHNOLOGY LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>885166AD2E824DF0F98A609340A00CC48FD9EF1B</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalLocation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>37W4GY7YBF</string>
						<key>name</key>
						<string>PRESCRIP HEALTH TECHNOLOGY LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>885166AD2E824DF0F98A609340A00CC48FD9EF1B</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalNotifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>37W4GY7YBF</string>
						<key>name</key>
						<string>PRESCRIP HEALTH TECHNOLOGY LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>885166AD2E824DF0F98A609340A00CC48FD9EF1B</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>37W4GY7YBF</string>
						<key>name</key>
						<string>PRESCRIP HEALTH TECHNOLOGY LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>885166AD2E824DF0F98A609340A00CC48FD9EF1B</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOutcomes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>37W4GY7YBF</string>
						<key>name</key>
						<string>PRESCRIP HEALTH TECHNOLOGY LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>885166AD2E824DF0F98A609340A00CC48FD9EF1B</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalUser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>37W4GY7YBF</string>
						<key>name</key>
						<string>PRESCRIP HEALTH TECHNOLOGY LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>885166AD2E824DF0F98A609340A00CC48FD9EF1B</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>37W4GY7YBF.com.prescrip.OneSignalNotificationServiceExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>37W4GY7YBF</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>fd883194-f655-45dd-b919-a7be61dc5315</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>name</key>
						<string>PrecripOS20241031</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>37W4GY7YBF</string>
						<key>name</key>
						<string>PRESCRIP HEALTH TECHNOLOGY LLP</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>37W4GY7YBF.com.prescrip</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>37W4GY7YBF</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>prescrip.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7f520081-c75d-4ad8-b2ee-f3fb3bfc5c57</string>
				<key>dateExpires</key>
				<string>31/10/25</string>
				<key>name</key>
				<string>PrescripDistribution2024-10-31</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>37W4GY7YBF</string>
				<key>name</key>
				<string>PRESCRIP HEALTH TECHNOLOGY LLP</string>
			</dict>
			<key>versionNumber</key>
			<string>4.1.0</string>
		</dict>
	</array>
</dict>
</plist>
